body{
	text-align: center;
	margin: 0;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #0d2c40;
	letter-spacing: 1px;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #0d2c40;
	letter-spacing: 1px;
	font-size: 20px;
	text-transform: uppercase;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
a {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #f15b31;
	letter-spacing: 1px;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 20px;
	color: #ffffff;

}
img{
	margin: 40px 8px;
}
main{
	width: 850px;
	margin: 35px auto;
}
header{
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}
nav{
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
}